form {
  max-width: 420px;
  margin: 0 auto;
  color: #827257;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(.search__form) {
    padding: 30px;
    background-color: #ffeab3;
    border-radius: 10px;
  }
}

input:not(input[type="range"], input[type="submit"]) {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 7px solid #88c9a1;
  background-color: #f7f7ef;
  margin-bottom: 5px;
  font-size: 16px;
  color: #483c23;
  width: 90%;
  &::placeholder {
    color: #827257;
  }
}
input[type="submit"] {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 7px solid #827257;
  background-color: #827257;
  box-shadow: 0px 6px #483c23;
  margin-bottom: 5px;
  font-size: 16px;
  color: #f7f7ef;
  width: 90%;
  &::placeholder {
    color: #827257;
  }

  text-align: center;
}
