.social-login {
  margin-top: 40px;
}
.social__btn {
  padding: 15px 50px;
  border-radius: 10px;
}
.social__btn--github {
  background-color: #374251;
  color: #f7f7ef;
}

.social__btn--kakao {
  background-color: #fee501;
  color: #374251;
}
